@model IEnumerable<EventManager.Models.Event>
<header>
    <div class="row" id="banner">
        <img class="col-md-12" width="2560" height="300" src="http://i.ebayimg.com/images/g/j6YAAOSwPcJVR-JC/s-l1600.jpg" />
    </div>
</header><br />
<h2><big>All Upcoming Events</big></h2>
@foreach (var show in Model)
{
    <h4><b>@show.Artist.Name</b></h4>
    <div class="main" style="color:darkgreen">
        <div class="right">
            <div class="upperleft" style="background-color:grey">@show.Venue</div>
            <div><b>@show.Genre.Name</b></div>
        </div>
        <div class="left">
            <div class="upperleft" style="background-color:grey"><big><b>@show.Date.ToString("MMM").ToUpper()</b></big></div>
            <div>@show.Date.ToString("dd")</div>
        </div>
     </div>
     <br /><br />
}

